header
    h1 Ahmed
    nav
        ul.parent
            li
                a(href="/")
                    | Home
            li
                a(href="about.html")  About Us 
            li.mode change mode
            li
                a(href="support.html")  Support Us 
